{% extends "base.html" %}

{% block body %}
    <div class="container">
        <div class="row">
            <div class="col-sm-2 col-sm-offset-5">
                <form method="post" enctype="multipart/form-data">
                    {% csrf_token %}
                    {{ form.as_p }}<br />
                    <input class="btn btn-lg btn-primary" type="submit" role="button" value="Actualize through UCL" name="submit">
                </form>
            </div>
        </div>
    </div>
{% endblock %}
