{% extends "base.html" %}
{% load update_list_extras %}

{% block body %}
	<div class="container">
		{% if object_list %}
            <h2 class="text-center">Missing teaching assistant</h2>
            <h4 class="text-center">This list can be copy-pasted in the <a href="https://sympa-2.sipr.ucl.ac.be/sympa/import/epl-scientific-staff">multiple add interface</a></h4>
			{% for member in object_list|non_subscribed_assistant %}
                <div class="row">
                    <div class="col-sm-6 col-sm-offset-4">{{ member }}</div>
                </div>
			{% endfor %}
            <h2 class="text-center">"Retired" subscribers</h2>
            <h4 class="text-center">Each email address must be removed at <a href="https://sympa-2.sipr.ucl.ac.be/sympa/review/epl-scientific-staff">subscriber interface</a></h4>
            {% for member in object_list|subscribed_retired_assistant %}
                <div class="row">
                    <div class="col-sm-3 col-sm-offset-5">{{ member }}</div>
                </div>
			{% endfor %}
            <h2 class="text-center">Subscribers and not teaching assistant</h2>
            <h4 class="text-center">EPL affiliation to be checked</h4>
            {% for member in object_list|subscribed_non_assistant %}
                <div class="row">
                    <div class="col-sm-2 col-sm-offset-3">{{ member.given_name }} {{ member.family_name }}</div>
                    <div class="col-sm-3">{{ member.email }}</div>
                    <div class="col-sm-3">{{ member.job_titles }}</div>
                </div>
			{% endfor %}
		{% else %}
            <h3 class="text-center">Nothing in the list yet</h3>
		{% endif %}
        <br />
        <div class="row">
            <div class="col-sm-2 col-sm-offset-5 text-center">
                <a class="btn btn-lg btn-default" role="button" href="{% url "ldap_query" %}">Update list</a>
            </div>
        </div>
    </div>
{% endblock %}
